@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
	font-family: "Poppins", sans-serif;
}

body {
    display: grid;
    place-content: center;
    height: 100vh;
    width: 100vw;
	overflow: hidden;
	background-image: url("https://i.postimg.cc/j2kbvDw3/Ocean-Lux-Birthday-Event-(3).png");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.flipbook {
    width: 500px;
    height: 300px;
    margin: auto;
}

.flipbook .hard {
    background: #966D33 !important;
    color: #fff;
    font-weight: bold;
    border: none; 
    gap: 2px;  
}

.flipbook .hard small{
	font-style: italic;
	font-weight: lighter;
	opacity: 0.7;
	font-size: 14px;
}

.flipbook .page {
    background: #966D33;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
    gap: 2px;
    border: none;
}

.page img{
	width: 100%;
    height: 100%;
	object-fit: cover;
}

.flipbook .page small{
	font-size: 14px;;
}
